@inherits LayoutComponentBase
@using BlazorServerAuthenAuthor.Authentication;
@inject UserAccountService userAccountService
@inject IJSRuntime js
@inject AuthenticationStateProvider authenticationStateProvider
@inject NavigationManager navigationManager

<PageTitle>BlazorServerAuthenAuthor</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
            <AuthorizeView>
                <Authorized>
                    <a @onclick="Logout">Logout</a>
                </Authorized>
                <NotAuthorized>
                    <a href="\login">Login</a>
                </NotAuthorized>
            </AuthorizeView>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code {
    private async void Logout()
    {
        var customAuthStateProvider = (CustomAuthenticationStateProvider)authenticationStateProvider;
        await customAuthStateProvider.UpdateAuthenticationState(null);
        navigationManager.NavigateTo("/", true);
    }
}